body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
    text-align: center;
}
#simon {
    margin: auto;
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    margin-bottom: 10px;
}

.color {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
}

.rojo {
    background-color: red;
    border-top-left-radius: 200px;
}

.verde {
    background-color: green;
    border-top-right-radius: 200px;
}

.amarillo {
    background-color: #ffb300;
    border-bottom-left-radius: 200px;
}

.azul {
    background-color: blue;
    border-bottom-right-radius: 200px;
}

.light {
    opacity: 0.5;
}
